* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    position: relative;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
}

nav {
    position: fixed;
}

nav>ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}

nav li>a {
    text-decoration: none;
    color: gray;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
}


nav li>a:hover {
    background-color: rgb(33, 32, 32);
    color: white;
    cursor: alias;
}

.board {
    display: none;
}

nav>button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(33, 32, 32);
    color: white;
    border: none;
    cursor: pointer;
}

@media (max-width:1200px) {
    nav>ul {
        display: none;
    }

    nav>.board {
        display: block;
    }
}


.banner {
    height: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.banner>img {
    width: 100%;
    border-radius: 10px;
}

.results-boxes {
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.left-box {
    background-color: rgb(33, 32, 32);
    width: 90%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-indent: 10px;
}

.linear {
    display: flex;
    align-items: center;
    gap: 40px;
    border-left: 5px solid gold;
    border-radius: 5px;
    padding: 10px;
    position: relative;
}

.linear::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: gold;
    border-radius: 50%;
    top: 0px;
    right: 5px;
    box-shadow: 0px 0px 15px gold;
}

.linear>h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left-box3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-box3>button {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 15px 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.left-box3 button:nth-child(1) {
    background-color: gold;
    color: black;
}


.result-right {
    background-color: rgb(33, 32, 32);
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.result-right>h3 {
    color: gold;
    font-size: 30px;
}

.result-right>p {
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

.result-left>.left-box :nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 25px;
}

input:nth-child(1) {
    padding: 15px 20px;
    outline: none;
    background-color: black;
    color: gray;
    width: 100%;
    border: none;
    border: 10px;
    border-radius: 10px;
}

select {
    padding: 15px 20px;
    outline: none;
    background-color: black;
    color: gray;
    width: 100%;
    border: none;
    border: 10px;
    border-radius: 10px;
}

input:nth-child(3) {
    padding: 15px 20px;
    outline: none;
    background-color: black;
    color: gray;
    width: 60%;
    border: none;
    border: 10px;
    border-radius: 10px;
}

form>input,
select:nth-child(2) {
    margin-top: 10px;
    margin-bottom: 10px;
}


form>button {
    background-color: gold;
    color: black;
    padding: 10px 15px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: 900;
}

form>button:hover {
    color: white;
    background-color: black;
    cursor: no-drop;
}

.chek-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.chek-box > input:active {
    content: "✔";
    color: black;
    background-color: green;
    height: 24px;
    width: 24px;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

@media (max-width:1250px) {
    .results-boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }



    .boxes {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
    }


    .linear {
        display: flex;
        flex-direction: column;
    }

    /* .linear > .text- {
        display: flex;
        align-items: center;
        justify-content: left;
        gap: 40px;
    } */

    .left-box3>button:nth-child(2) {
        display: none;
    }

    .left-box3>button:nth-child(3) {
        display: none;
    }

    .left-box3>button:nth-child(1) {
        width: 100%;
    }


    input:nth-child(3) {
        padding: 15px 20px;
        outline: none;
        background-color: black;
        color: gray;
        width: 100%;
        border: none;
        border: 10px;
        border-radius: 10px;
    }



    form>button {
        width: 100%;
    }


}

.chek-box>input {
    width: 24px;
    height: 24px;
    border-radius: px;
    cursor: pointer;

}

.chek-box>p {
    color: gray;
    font-size: 15px;
}


.text-1 {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-left: 4px solid gold;
    border-radius: 8px;
    font-size: 25px;
    font-weight: 900;
    cursor: pointer black;
    margin-bottom: 50px;
}

.text-1 > button {
    padding: 10px 15px 15px 15px;
    border-radius: 12px;
    border: none;
    font-weight: 900;
    font-size: 25px;
}

.catalogs {
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
}

.catalog-left> .catalog:nth-child(2){
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog-right> .catalog:nth-child(2){
  margin-top: 20px;
  margin-bottom: 20px;
}

.catalog {
    margin-left: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 25px;
    font-weight: 900;
}

.catalog > img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
} 

@media (max-width:1250px) {
    .cataloggs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
        margin: auto;
    }

    .catalogg {
        margin: auto;
    }
}

.text-2 > p {
    font-size: 25px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 20px;
}


.text-2 > button {
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 900;
}

.text-3 {
    padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    font-size: 30px;
}


.cataloggs  > .catalogg{
    margin-top: 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 25px;
    font-weight: 900;
    position: relative;
}

.catalogg > p {
    color: gray;
    font-size: 10;
    font-weight: 200;
}

.catalogg::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "⚡";
    width: 40px;
    height: 40px;
    background: rgba(255, 217, 0, 0.204);
    right: 10px;
    border-radius: 50%;
    box-shadow:0px 0px 15px gold;
}

 .cataloggs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}

.cataloggs>.catalogg:nth-child(3)::before{
content: "🌵";
}

.cataloggs>.catalogg:nth-child(4)::before{
content: "🥇";
color: gold;
}




.cataloggs>.catalogg:nth-child(2)::before{
content: "🌟";
color: gold;
}

.videoss> video {
    width: 400px;
    height: 600px;
}

.text-4 {
    padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.videoss {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.text-5 {
    padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.fictions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.fiction {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 30%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.362);
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.759);
}

.fiction> p:nth-child(2){
    margin-top: 50px;
    margin-bottom: 50px;
}


.video-text> video {
    width: 400px;
    height: 600px;
}


.videos-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.video-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 20px;
}


.text-6 {
    display: flex;
    flex-direction: column;
     padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 1px;
}

.text-6  > h3 {
    font-size: 30px;
}


.text-6 > p {
    color: gray;
}

.boxes2 {
    padding: 0px;
}

.box2 {
    background-color: rgb(33, 32, 32);
    width: 60%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin: auto;
}

@media (max-width:1250px) {
    .box2 {
        width: 100%;
    }
    .buttons  {
        display: flex;
        flex-wrap: wrap;
    }

    .container {
        padding: 0px;
    }
    
    .cataloggs>.catalogg:nth-child(3)::before{
content: "";
}

.cataloggs>.catalogg:nth-child(4)::before{
content: "";
color: gold;
}




.cataloggs>.catalogg:nth-child(2)::before{
content: "";
color: gold;
}
    
.catalogg::before{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "⚡";
    width: 40px;
    height: 40px;
    background: rgb(2, 2, 2);
    right: 10px;
    border-radius: 50%;
    box-shadow: none;
}



.catalog-left > .catalog {
    margin: auto;
    margin-bottom: 10px;
}

.text-1 {
    display: flex;
    flex-direction: column;
}

.text-1 > button{
    font-size: 18px;
    background-color: black;
    color: white;
}

.result-right {
    width: 100%;
}

.fictions .fiction:nth-child(1){
    display: none;
}

.fictions .fiction:nth-child(3) {
    display: noen;
}

.fiction:nth-child(2) {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px
}
}

.box2 > hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

.box2 > .buttons >  button {
    background-color: black;
    color: gray;
    border: none;
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 800;
}

.box2 > .buttons> button:active {
    background-color: white;
    color: black;
}

.form2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgb(33, 32, 32);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    left: -200px;
}
.form2 > h3 {
    font-size: 25px;
}

.form2> input:nth-child(2 ) {
     padding: 15px 20px;
    outline: none;
    background-color: black;
    color: gray;
    width: 100%;
    border: none;
    border: 10px;
    border-radius: 10px;
}

.form2 >input {
    width: 100%;
}

.boxes2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 50px;
}


.text-7 {
    display: flex;
    flex-direction: column;
     padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.all > h3 {
    color: gold;
}

.all {
    width: 100%;
}

@media (max-width:1250px) {
    .boxes2 {
        display: flex;
        flex-direction: column;
    }
    .left-box2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .result-right2 {
        display: flex;
        flex-direction: column;
        width: 100%;
        display: none;
    }

    

.result-right2 > h3 {
    font-size: 5px;
}

    .result-right2 > .all > p {
        display: none;
    }


    .text-9 {
        display: flex;
        flex-direction: column;
    }
}



.box3 {
    padding: 15px 20px;
    outline: none;
    background-color: rgb(54, 54, 54);
    color: gray;
    width: 100%;
    border: none;
    border: 20px;
    border-radius: 10px;
}

.box3:hover {
    background-color: gray;
}

.text-8 {
    display: flex;
    flex-direction: column;
     padding: 12px;
    border-left: 4px solid gold;
    border-radius: 5px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 50px;
}

.map-img >img {
    cursor: pointer;
    width: 60%;

}


.result-right2 {
    background-color: rgb(33, 32, 32);
    width: 30%;
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
    margin: 20px;
}


.result-right2>h3 {
    color: gold;
    font-size: 30px;
}

.result-right2>p {
    color: gray;
    margin-top: 20px;
    margin-bottom: 20px;
}

  .number {
    margin-top: -20px;
}


.text-9 {
    display: flex;
    background-color: rgb(33, 32, 32);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-around;
}


.text-9 > h4 > span {
    color: gray;
}

.text-footer {
    width: 40%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.text-footer > button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: gray;
}


.text-footer > button:hover {
    background-color: rgba(128, 128, 128, 0.167);
    color: white;
    cursor: pointer;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}